.modal-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgb(93, 67, 79);
    background: linear-gradient(
        90deg,
        rgba(93, 67, 79, 1) 0%,
        rgba(63, 78, 97, 1) 100%
    );
    color: rgb(223, 223, 223);
    padding-bottom: 10em;
    font-family: sans-serif;
}

.modal {
    width: 100%;
}

.modal-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.modal-header {
    font-size: 50px;
    font-family: sans-serif;
    padding: 1.2em;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body form {
    display: flex;
    flex-direction: column;
}

.modal-body form #title {
    padding: 1.2em;
    outline: none;
    font-weight: bold;
    margin-bottom: 1em;
    border-radius: 5px;
    color: white;
    background-color: rgb(31, 31, 31, 0.9);
    outline: none;
    border: none;
    font-family: sans-serif;
}
.modal-body form #description {
    padding: 1em;
    outline: none;
    resize: none;
    border-radius: 5px;
    height: 300px;
    background-color: rgb(31, 31, 31, 0.9);
    outline: none;
    border: none;
    color: white;
    font-weight: light;
    font-family: sans-serif;
}

.modal-body form .budget {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
}
.modal-body form .budget-header {
    font-size: 20px;
    font-family: sans-serif;
}
.modal-body form .budget-header h4 {
    margin: 0.8em;
}
.modal-body form .budget-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    color: white;
}
.modal-body form .budget-body .budget_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 0.5em;
    align-items: flex-start;
    color: white;
    align-items: center;
}
.modal-body form .budget-body .budget_input {
    padding: 1em;
    background-color: rgb(31, 31, 31, 0.9);
    outline: none;
    border: 1px solid rgb(31, 31, 31);
    color: white;
    margin-bottom: 0.5em;
}
.modal-body form .budget-body .budget_Dropdown {
    display: flex;
    justify-self: flex-start;
    margin-left: 0.8em;
}
.modal-body form .budget-body .budget_Dropdown select {
    background-color: rgb(31, 31, 31, 0.9);
    color: white;
    border: 1px solid rgb(31, 31, 31);
    outline: none;
    margin-right: 1em;
}
.modal-body form .budget-body .budget_Dropdown label {
    font-size: 15px;
    margin-right: 1em;
}
.modal-body form .budget-body .budget_Dropdown input {
    background-color: rgb(31, 31, 31, 0.9);
    color: white;
    border: 1px solid rgb(31, 31, 31);
    outline: none;
}

.modal-body form .location {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    color: white;
    margin-bottom: 1.5em;
}
.modal-body form .location h5 {
    margin: 0;
    margin: 0.8em;
    font-weight: lighter;
}

.modal-body form .location h4 {
    margin: 0;
    margin-top: 1.5em;
}

.modal-body form .location input {
    background-color: rgb(31, 31, 31, 0.9);
    color: white;
    border: none;
    padding: 0.5em;
}

.modal-body form .upload-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dashed 1px black;
    padding: 2em;
}

.modal-body form .upload-images .upload-button {
    background-color: rgb(25, 53, 85);
    position: relative;
    border-radius: 5px;
}
.modal-body form .upload-images .upload-button input {
    display: none;
}
.modal-body form .accpeted-files {
    font-size: 10px;
}
.modal-body form .upload-images .upload-button label {
    display: inline-block;
    padding: 15px 15px;
    cursor: pointer;
}

.modal-body form .upload-images .preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

.modal-body form .upload-images .preview-wrapper .preview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    width: 100%;
}
.modal-body form .upload-images .preview-wrapper .preview-card img {
    width: 400px;
    object-fit: contain;
    border-radius: 5px;
}
.modal-body form .upload-images .preview-wrapper .preview-card .card-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.modal-body
    form
    .upload-images
    .preview-wrapper
    .preview-card
    .card-info
    #button {
    cursor: pointer;
}

.modal-body form #privacy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    color: white;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}
