.home {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: scroll;
}

.home main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 1000px;
    max-width: 90%;

    display: flex;
    flex-direction: column;
}

.home main .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 300px;
    max-height: 300px;
    width: 100%;
    flex: 20%;
}

.home main .backgroundImg {
    width: 100%;
    height: 30%;
    margin-bottom: 3em;
    border-radius: 5px;
}

.home main .backgroundImg img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
}

.home main .profile {
    width: 95%;
    height: 100%;
    display: flex;
}
.home main .profileImg img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: #292929 solid 10px;
}

.home main .profileInfo {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    margin-left: 10px;
    color: rgb(243, 243, 243);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home main .profileInfo .profileButtons {
}
.home main .profileInfo h3 {
    font-size: 2em;
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
.home main .profileInfo #edit-username {
    background-color: inherit;
    color: white;
    outline: none;
    border: white solid 1px;
    font-size: 1.8em;
    width: 50%;
}
.home main .profileInfo #edit-bio {
    background-color: inherit;
    color: white;
    outline: none;
    border: white solid 1px;
    font-size: 0.8em;
    width: 80%;
    height: auto;
    margin-top: 10px;
    resize: none;
}
.home main .profileInfo p {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
    font-weight: lighter;
    font-style: italic;
}

@media (max-width: 1024px) {
    .home main .profileImg img {
        width: 180px;
        height: 180px;
    }
    .home main .profileInfo h3 {
        font-size: 1.8em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }

    .home main .profileInfo p {
        font-size: 0.9em;
        margin: 0;
        margin-top: 10px;
        font-weight: lighter;
        font-style: italic;
    }
}
@media (max-width: 768px) {
    .home main {
        max-width: 100%;
    }
    .home main .backgroundImg img {
        width: 100%;
        height: 200px;
    }
    .home main .profileImg img {
        width: 150px;
        height: 150px;
    }
    .home main .profileInfo h3 {
        font-size: 1.5em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }
    .home main .profileInfo #edit-username {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: lighter;
        width: 90%;
    }
    .home main .profileInfo #edit-bio {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 0.65em;
        width: 90%;
        height: auto;
        margin-top: 10px;
    }
    .home main .profileInfo p {
        font-size: 0.75em;
        margin: 0;
        margin-top: 0px;
        font-weight: lighter;
        font-style: italic;
    }
    .home main .profileInfo {
        margin-top: 75px;
    }
}

@media (max-width: 480px) {
    .home main {
        max-width: 100%;
    }
    .home main .backgroundImg img {
        width: 100%;
        height: 200px;
    }
    .home main .profileImg img {
        width: 125px;
        height: 125px;
    }
    .home main .profileInfo h3 {
        font-size: 1.25em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }
    .home main .profileInfo #edit-username {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 1.25em;
        font-family: sans-serif;
        font-weight: lighter;
        width: 90%;
    }
    .home main .profileInfo #edit-bio {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 0.55em;
        height: auto;
        margin-top: 10px;
    }
    .home main .profileInfo p {
        font-size: 0.625em;
        margin: 0;
        margin-top: 0px;
        font-weight: lighter;
        font-style: italic;
    }
    .home main .profileInfo {
        margin-top: 75px;
    }
}
