.home {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: scroll;
}

.home main {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 1000px;
    max-width: 90%;

    display: flex;
    flex-direction: column;
}

.home main .userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 300px;
    max-height: 300px;
    width: 100%;
    flex: 20%;
    position: relative;
}

.home main .backgroundImg {
    width: 100%;
    top: 0%;
    height: 225px;
    padding-bottom: 3em;
    border-radius: 5px;
    position: absolute;
}
.home main .backgroundImg .edit-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home main .backgroundImg label {
    height: 50%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.164);
    text-align: center;
    display: inline-block;
    line-height: 100px;
    color: white;
    border: dashed 1px white;
    transition: all 0.2s ease;
    cursor: pointer;
}
.home main .backgroundImg label:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.home main .backgroundImg input {
    display: none;
}

.home main .backgroundImg img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
}

.home main .profile {
    width: 95%;
    height: 100%;
    display: flex;
    position: relative;
    top: 65%;
}
.home main .profileImg {
    position: relative;
}
.home main .profileImg input {
    display: none;
}
.home main .profileImg label {
    background-color: rgba(0, 0, 0, 0.164);
    text-align: center;
    color: white;
    border-radius: 50%;
    transition: all 0.2s ease;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home main .profileImg .edit-pfp-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    transition: all 0.2s ease;
}
.home main .profileImg .edit-pfp-container:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.home main .profileImg img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: #292929 solid 10px;
}

.home main .profileInfo {
    margin: 0;
    padding: 0;
    margin-top: 100px;
    margin-left: 10px;
    color: rgb(243, 243, 243);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.home main .profileInfo .profileTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex: 80%;
}

.home main .profileInfo .profileButtons {
    display: flex;
    align-items: center;
    flex: 20%;
    width: 100%;
    justify-content: space-around;
}
.home main .profileInfo .profileButtons svg {
    border: solid 1px;
    border-radius: 50%;
    padding: 0.2em;
    cursor: pointer;
}
.home main .profileInfo .profileButtons svg:hover {
    background-color: rgb(32, 32, 32);
}
.home main .profileInfo h3 {
    font-size: 2em;
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}
.home main .profileInfo #edit-username {
    background-color: inherit;
    color: white;
    outline: none;
    border: white solid 1px;
    font-size: 1.8em;
    width: 50%;
}
.home main .profileInfo #edit-bio {
    background-color: inherit;
    color: white;
    outline: none;
    border: white solid 1px;
    font-size: 0.8em;
    width: 80%;
    height: auto;
    margin-top: 10px;
    resize: none;
}
.home main .profileInfo p {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
    font-weight: lighter;
    font-style: italic;
}

@media (max-width: 1024px) {
    .home main .profileImg img {
        width: 180px;
        height: 180px;
    }
    .home main .profileInfo h3 {
        font-size: 1.8em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }

    .home main .profileInfo p {
        font-size: 0.9em;
        margin: 0;
        margin-top: 10px;
        font-weight: lighter;
        font-style: italic;
    }
}
@media (max-width: 768px) {
    .home main {
        max-width: 100%;
    }
    .home main .backgroundImg img {
        width: 100%;
        height: 200px;
    }
    .home main .backgroundImg .edit-bg-container {
        height: 200px;
    }
    .home main .profileImg img {
        width: 120px;
        height: 120px;
    }
    .home main .profileImg .edit-pfp-container {
        height: 80%;
    }
    .home main .profileInfo h3 {
        font-size: 1.5em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }
    .home main .profileInfo #edit-username {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: lighter;
        width: 90%;
    }
    .home main .profile {
        top: 75%;
    }
    .home main .profileInfo #edit-bio {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 0.65em;
        width: 90%;
        height: auto;
        margin-top: 10px;
    }
    .home main .profileInfo p {
        font-size: 0.75em;
        margin: 0;
        margin-top: 0px;
        font-weight: lighter;
        font-style: italic;
    }
    .home main .profileInfo {
        margin-top: 75px;
    }
}

@media (max-width: 580px) {
    .home main .profile {
        flex-direction: column;
        align-items: center;
        top: 55%;
    }
    .home main .profileImg .edit-pfp-container {
        height: 100%;
    }
    .home main .profile .profileInfo {
        margin: 0;
        margin-bottom: 3em;
    }
    .home main .profile .profileInfo .profileButtons {
        margin: 0;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .home main .profile .profileInfo .profileButtons svg {
        margin-left: 0.5em;
    }
}

@media (max-width: 480px) {
    .home main {
        max-width: 100%;
    }
    .home main .backgroundImg img {
        width: 100%;
        height: 200px;
    }
    .home main .profileImg img {
        width: 100px;
        height: 100px;
    }
    .home main .profileInfo h3 {
        font-size: 1.25em;
        margin: 0;
        font-family: sans-serif;
        font-weight: lighter;
    }
    .home main .profileInfo #edit-username {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 1.25em;
        font-family: sans-serif;
        font-weight: lighter;
        width: 90%;
    }
    .home main .profileInfo #edit-bio {
        background-color: inherit;
        color: white;
        outline: none;
        border: white solid 1px;
        font-size: 0.55em;
        height: auto;
        margin-top: 10px;
    }
    .home main .profileInfo p {
        font-size: 0.625em;
        margin: 0;
        margin-top: 0px;
        font-weight: lighter;
        font-style: italic;
    }
    .home main .profileInfo {
        margin-top: 75px;
    }
}
