.Login_page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
    overflow-y: hidden;
}

.Login_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    flex: 45%;
}

.Login_form form {
    display: flex;
    flex-direction: column;
}

.Login_form h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    margin: 0;
    margin-bottom: 0.2em;
    color: #414141;
}

.Login_form input {
    padding: 2em;
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid black;
    outline: none;
    font-family: 'open sans', sans-serif;
}
.Login_form button {
    padding: 1.2em;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
    align-self: flex-end;
    background-color: #4fa1ff;
    border: none;
    font-size: 20px;
    color: white;
    transition: all 0.2s ease-in-out;
}
.Login_form p {
    align-self: end;
    font-size: 13px;
}
.Login_form button:hover {
    background-color: #95baff;
}
.Login_image {
    flex: 55%;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

.Login_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 1200px) {
    .Login_image {
        display: none;
    }
}
@media (max-width: 480px) {
    .Login_form h1 {
        font-size: 50px;
    }
    .Login_form input {
        width: 300px;
    }
    .Login_form button {
        width: 150px;
    }
}
