.search-page {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.search-page main {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-height: 100%;
    width: 1000px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    padding-bottom: 5em;
}
.searchBox {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --rad: 0.7rem;
    --dur: 0.3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bdb8;
    --font-fam: 'Lato', sans-serif;
    --height: 5rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search-page form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}
.search-page input,
.search-page button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
}
.search-page input[type='search'] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
.search-page button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}
.search-page input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
}
.search-page input:not(:placeholder-shown) + .search-page button {
    display: block;
}
.search-page label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.search-results {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-page .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 5em;
}
.search-page .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.search-page .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.search-page .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.search-page .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.search-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.users-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.search-items .users-results {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search-items .users-results li {
    min-width: 200px;
    width: 90%;
    max-width: 700px;
    cursor: pointer;
}
.search-items .users-results li:not(:first-child) {
    margin-top: 1em;
}
.search-items .users-results li div {
    display: flex;
    border: solid 1px rgb(61, 61, 61);
    border-radius: 10px;
    align-items: center;
    padding: 1em;
    transition: all 0.1s ease-in-out;
}
.search-items .users-results li div:hover {
    background-color: rgba(68, 68, 68, 0.473);
}
.search-items .users-results li div h4 {
    margin: 0;
    margin-left: 1em;
}
.search-items .users-results li div img {
    border-radius: 50%;
    object-fit: cover;
}

.travels-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.travels-results {
    list-style-type: none;
    padding: 0;
    width: 800px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.travels-items-header {
    text-align: center;
}

.search-items .travels-results li {
    min-width: 200px;
    width: 90%;
    max-width: 700px;
    cursor: pointer;
}
.search-items .travels-results li:not(:first-child) {
    margin-top: 1em;
}
.search-items .travels-results li .travels-data {
    display: flex;
    border: solid 1px rgb(61, 61, 61);
    border-radius: 10px;
    align-items: center;
    transition: all 0.1s ease-in-out;
    position: relative;
    outline: none;
}

.search-items .travels-results li div:hover {
    transform: scale(1.008);
}

.search-items .travels-results li .travels-data .background-travel-result {
    object-fit: cover;

    width: 100%;
    border-radius: 10px;
}
.search-items .travels-results li .travels-data .overlay-travel-result {
    position: absolute;
    display: flex;
    margin-left: 1em;
    width: 100%;
}
.search-items .travels-results li .travels-data .overlay-travel-result div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-left: 1em;
}
.search-items .travels-results li .travels-data .overlay-travel-result div h4 {
    margin: 0;
    font-family: 'roboto', sans-serif;
}
.search-items .travels-results li .travels-data .overlay-travel-result div h5 {
    margin: 0;
    font-weight: lighter;
    letter-spacing: 2px;
}
.search-items .travels-results li .travels-data .overlay-travel-result div h6 {
    margin: 0;
    font-weight: lighter;
    color: silver;
}
.search-items .travels-results li .travels-data .overlay-travel-result img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .search-page main {
        max-width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}
